<ion-header [translucent]="true">
  <ion-toolbar  color="primary">
    <ion-title>
      Login Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="googleSignup()">Sign in</ion-button>
 
  <ion-card *ngIf="userInfo">
    <ion-card-header>{{ userData.username }}</ion-card-header>
    <img [src]="userInfo.picture" />
    <ion-card-content>
      <p>Email: {{ userInfo.email }}</p>
      <p>First Name: {{ userInfo.first_name }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
